
<div class="row">
  <button class="btn btn-primary" (click)="openAddPerson()">Add Person</button>
</div>
<hr />
<div class="row">
    <input type="text" class="form-control" placeholder="Search by name" (keyup)="searchText$.next($event.target.value)" />

</div>

<div class="spinner-border text-primary" role="status" *ngIf="isLoading">
    <span class="sr-only">Loading...</span>
</div>

<div class="row" [hidden]="isLoading" >
    <div *ngFor="let person of (searchResult$ | async)">
        <person-display-card [person]="person"></person-display-card>
    </div>
</div>
